.container-grid {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.container-grid .box {
    background: #1a1a1a; /* #333 */
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.container-grid .botao-link {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.botao-link a {
    text-decoration: none;
}

.container-grid .box a span {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    letter-spacing: 8px;
}

.container-grid .box a .liquid {
    position: absolute;
    left: 0;
    top: -110px;
    width: 100%;
    height: 350px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transform: 0.5s;
    transition: 1s;
}

.container-grid .box a:hover .liquid {
    top: -170px;
}

.container-grid .box a .liquid:before, a .liquid:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.container-grid .box a .liquid:before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

.container-grid .box a .liquid:after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* .container-grid .box:hover {
    background: #e91e63;
} */

/* .container-grid .box .slide-content {
    background-color: aqua;
    width: 100%;
    height: 100%;
}
.container-grid .box .slide-content .carousel {
    width: 100%;
    height: 100%;
}

.container-grid .box img {
    height: auto;
    width: 30%;
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
} */

.container-grid .box:nth-child(1) {
    grid-column: span 1;
    grid-row: span 2;
}

.container-grid .box:nth-child(2), .box:nth-child(3) {
    grid-column: span 3;
    grid-row: span 2;
}

.container-grid .box:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
}

.container-grid .box:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
}

.container-grid .box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover, .box:nth-child(4):hover {
    background-color: #272727;
}

.container-grid .box:nth-child(5):hover {
    background-color: #181818;
    cursor: pointer;
}

@media (max-width: 991px) {
    .container-grid, .container-grid-intro {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
    }

    .container-grid .box, .container-grid-intro .box-intro {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}