.container .text-lg-start h1 {
    color: #dddddd;
}

.container .text-lg-start span {
    color: #fff;
    font-size: 15pt;
}

.container .text-lg-start a svg {
    color: #fff;
    width: 5%;
    margin: 5% 0 5% 5%;
    transition: 1s;
}

.container .text-lg-start a svg:hover {
    color: aqua;
    margin-top: 10px;
    box-shadow: 0 0 100px 1px white;
}

form div label {
    color: #fff;
}

.formDeEmail {
    transition: 1s;
}

.formDeEmail:hover {
    background-color: rgb(180, 255, 255);
    box-shadow: 0 0 1000px 1px rgba(255, 255, 255, 0.4);
}

.formDeMensagem {
    transition: 1s;
}

.formDeMensagem:hover {
    background-color: rgb(180, 255, 255);
    box-shadow: 0 0 1000px 1px rgba(255, 255, 255, 0.4);
}