.card-perfil {
    max-width: 100%;
}

.card-perfil table th {
    color: #dddddd;
    text-align: center;
}

.card-perfil table td {
    color: #dddddd;
}

.nomePerfil {
    color: aliceblue;
}

.tituloPerfil {
    color: rgb(192, 192, 192);
}